* {
  box-sizing: border-box;
}

body {
  background-color: lightpink;
  color: #616172;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;
}

.btn {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: white;
  color: #616172;
  border: solid #616172 2px;
}

.desk__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desk__list-wrapper {
  width: 100%;
  min-height: 201px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px;
  border: solid #616172 2px;
  background-color: white;
}

.desk__list-wrapper--centered {
  justify-content: center;
}

.no-tickets-text {
  max-width: 450px;
  margin: 0;
  display: block;
  color: #B7B7B7;
  text-align: center;
}

.desk__add {
  margin-bottom: 20px;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 20px;
  align-self: end;
}

.desk__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 1;
  transition: opacity .1s ease-in-out;
}

.modal__container {
  width: 100%;
  max-width: 700px;
  padding: 30px;
  background-color: white;
  border-radius: 24px;
  border: solid #616172 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__title {
  margin: 0;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modal__label {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.modal__label textarea {
  min-height: 90px;
  resize: none;
}

.modal__input-title {
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.modal__input {
  width: 100%;
  padding: 8px;
  font-size: 20px;
  font-weight: 400;
  font-family: inherit;
  border-radius: 3px;
  border: solid black 1px;
}

.modal__input::placeholder {
  width: 100%;
  font-size: 20px;
  font-family: inherit;
}

.modal__input:focus-visible {
  outline: none;
}

.modal__input_error {
  margin-bottom: 5px;
  border-color: red;
}

.modal__error {
  color: red;
}

.modal__btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.modal__btn {
  display: inline-flex;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 20px;
}

.modal__btn:first-of-type {
  margin-right: 10px;
}

.modal__text {
  max-width: 420px;
}

.ticket {
  padding: 15px 10px;
  border-bottom: solid #616172 2px;
}

.ticket:last-of-type {
  border-bottom: none;
}

.ticket.ticket_second {
  border-bottom: solid #616172 2px;
}

.ticket__content {
  display: flex;
  align-items: center;
}

.ticket__desc-wrapper--hidden {
  display: none;
}

.ticket__label {
  margin-right: 15px;
  display: block;
  cursor: pointer;
}

.ticket__visible-checkbox {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  border: solid #616172 2px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.ticket__visible-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 4px;
  border-left: 3px solid #616172;
  border-bottom: 3px solid #616172;
  opacity: 0;
  transform: translate(-45%, -65%) rotate(-45deg);
  transition: opacity .1s ease-in-out;
}

.ticket__checkbox:checked~.ticket__visible-checkbox::before {
  opacity: 1;
}

.ticket__title {
  margin: 0;
  margin-right: auto;
  font-weight: 400;
  font-size: 20px;
}

.ticket__time {
  margin-right: 40px;
}

.ticket__edit {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.ticket__svg {
  width: 19px;
  height: 19px;
}

.ticket__svg path {
  fill: #616172;
}

.ticket__delete {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #616172;
  border-radius: 100%;
  font-size: 14px;
}

.ticket__desc-wrapper {
  padding: 25px 45px 15px 45px;
}

.ticket__desc {
  max-width: 600px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.ticket__no-desc {
  margin: 0;
  color: #B7B7B7;
}

.rights a {
  color: #616172;
}

